<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>EasyBus Bookings</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- Navbar scroll functionality -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <style>    
        #mainNavigation {
            padding: 0px 0px; /* Adjusted padding */
            margin-right: 10px;
            font-size: 0px;
            text-transform: uppercase;
            height: 58px;
            top: 0; /* Adjusted to 0 */
            width: 100%;
            overflow: ;
            background-color: rgba(51, 51, 51, 0.0); /* Adjusted for transparency */
            color: white;
            transition: top 0.3s;
            z-index: 1000;
          }
        
          #mainNavigation a.nav-link {
            font-size: 10px; /* Adjusted font size */
          }
          
          #mainNavigation .nav-link:hover {
            color: #fff; /* Hover color */
          }
          
          #mainNavigation .nav-link.active {
            color: #fff; /* Active color */
          }
          
          /* Align login and register links to the right */
        .navbar-nav.right-links {
            margin-left: auto;
        }
        
        /* Style login and register links as buttons */
        .navbar-nav.right-links .nav-link {
            padding: 8px 16px;
            border-radius: 20px; /* Adjust border-radius as needed */
            background-color: transparent;
            border: 1px solid #ffffff; /* Use your desired border color */
            color: #ffffff; /* Text color */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }
        
        .navbar-nav.right-links .nav-link:hover {
            background-color: black; /* Hover background color */
            color: #03727d; /* Hover text color */
            border-color: #ffffff; /* Hover border color */
        }
        
           
    </style>
</head>
<body>
<!-- Navigation-->
<div id="mainNavigation" style="padding: 10px 15px 0;"> <!-- Adjusted padding -->
    <nav role="navigation">
        <div class="py-3 text-center">
            <img src="/static_files/images/logos/logo_3_white_2.png" alt="" class="invert">
        </div>
    </nav>
    <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
            </button>
        </div>
        <div class="text-center mt-3 collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}" style="font-size: 14px;">Home</a> <!-- Adjusted font size -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('book_tickets') }}" style="font-size: 14px;">Book Tickets</a> <!-- Adjusted font size -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}" style="font-size: 14px;">About Us</a> <!-- Updated nav link and adjusted font size -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="" data-bs-toggle="" aria-expanded="false" style="font-size: 14px;">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav right-links"> <!-- Added 'navbar-nav right-links' class -->
                <li class="nav-item">
                    <a class="btn btn-outline-light nav-link" href="{{ url_for('login') }}" style="font-size: 14px;">Login</a> <!-- Style login link as button and adjusted font size -->
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light nav-link" href="{{ url_for('register') }}" style="font-size: 14px;">Register</a> <!-- Style register link as button and adjusted font size -->
                </li>
            </ul>
        </div>
    </div>
</div>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-6">Welcome to EasyBus Bookings</h1>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>Seamless Booking Experience</h3>
                        <p class="lead mb-0">Enjoy hassle-free booking on any device, ensuring easy access to bus tickets wherever you are.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>User-Friendly Customization</h3>
                        <p class="lead mb-0">Personalize your journey effortlessly, adapting ticketing options to suit your preferences with ease.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Secure Transactions</h3>
                        <p class="lead mb-0">Enjoy peace of mind with secure transactions, safeguarding your payment details throughout the booking process.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"><img src="{{ url_for('static', filename='assets/images/bg-showcase-1.jpg') }}"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Connected Journeys</h2>
                    <p class="lead mb-0">Showcase the seamless connectivity of our bus system, ensuring travelers reach their destinations with ease and efficiency.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"><img src="{{ url_for('static', filename='assets/images/bg-showcase-2.jpg') }}"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Comfortable Travel</h2>
                    <p class="lead mb-0">Highlight the comfort of our buses, providing a relaxing and enjoyable journey for passengers of all ages.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"><img src="{{ url_for('static', filename='assets/images/bg-showcase-3.jpg') }}"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Scenic Routes</h2>
                    <p class="lead mb-0">Explore picturesque routes taken by our buses, offering passengers unforgettable views and memorable travel experiences.</p>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='assets/images/testimonials-1.jpg') }}" alt="..." />
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='assets/images/testimonials-2.jpg') }}" alt="..." />
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='assets/images/testimonials-3.jpg') }}" alt="..." />
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                <p>To activate this form, sign up at</p>
                                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
     <!-- Navbar scroll functionality -->
     <script>
        let prevScrollPos = window.pageYOffset;
        const navbar = document.getElementById("mainNavigation");
        let isNavbarVisible = true;
    
        function toggleNavbar() {
            const currentScrollPos = window.pageYOffset;
    
            if (prevScrollPos > currentScrollPos) {
                // Scrolling up
                navbar.style.top = "0";
                isNavbarVisible = true;
            } else {
                // Scrolling down
                navbar.style.top = "-100px"; // Adjust as needed
                isNavbarVisible = false;
            }
    
            prevScrollPos = currentScrollPos;
        }
    
        window.onscroll = function() {
            toggleNavbar();
        };
    
        // Function to check if the user has scrolled to the top of the page
        function isAtTop() {
            return window.scrollY === 0;
        }
    
        // Event listener to show the navbar when reaching the top of the page
        window.addEventListener('scroll', function() {
            if (isAtTop() && !isNavbarVisible) {
                navbar.style.top = "0";
                isNavbarVisible = true;
            } else if (!isAtTop() && isNavbarVisible) {
                navbar.style.top = "-100px"; // Adjust as needed
                isNavbarVisible = false;
            }
        });
    </script>    
       
</body>
</html>
