<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bus Ticket System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Bus Ticket System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li> <!-- Updated URL for login page -->
            <li><a href="/register">Register</a></li>
            <li><a href="/book_ticket">Book Ticket</a></li>
            <li><a href="/user_dashboard">User Dashboard</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 Bus Ticket System. All rights reserved.</p>
    </footer>
</body>
</html>
